{% extends "layout.html" %}
{% block content %}
<h1>Our Model</h1>
<p>Select parameters to see regression with Amount Raised</p>
<div class="left_analyse">
<h2>
    <label>Param1 </label> <input type="text" name="txt_param1" required>
    <label>Param2 </label> <input type="text" name="txt_param2" required>
    <label>Param3 </label> <input type="text" name="txt_param3" required>
    <label>Param4 </label> <input type="text" name="txt_param4" required>
    <label>Param5 </label> <input type="text" name="txt_param5" required>
</h2>
</div>

{% endblock %}