{% extends "layout.html" %}
{% block content %}
<h1>Our Model</h1>
<div id = "maincontent">

<div id ="analyse_plots">
	<table width="40%" style="margin:left:30px;float:left">
	<tr>
	     <td><p>The data consisted of </td>
	 </tr>
	<tr>
	     <td><span class="small analysenumber">{{score.split(',')[0]}}</span> accuracy</td>
	 </tr>
	 <tr>
	      <td><span class="small analysenumber">{{score.split(',')[1]}}</span> standard deviation</td>
	    </tr>
	</table>
	<table width="40%" style="margin:left:30px;">
		<tr>
            <td>
                <img style="zoom:0.7" src="static/img/confusionmatrix.png"/>
            </td>
        </tr>
	</table>
</div>

<div class="analyse_left">
	<p style="border:1px;">Select parameters to see regression with Amount Raised</p>
<h2>Parameters</h2>
	<ul class="entries">
	{% for f in features %}
	<input id="category" type="checkbox" name={{f}} value= {{f}}><label>{{f.replace("_"," ")}}</label> <br>
	{% endfor %}
	</ul>

</div>
<div class="analyse_right">

</div>
</div>

{% endblock %}