{% extends "layout.html" %}
{% block content %}
    <h1 style="text-align:center">Analyzing Crowdfunded projects</h1>
    <hr>
    <section id="introduction">
    	<img id="wordle" src="static/img/crowdfunding.jpg" style="float:left;"/>
        <div class ="info">
    		<p>
    		The 2012 JOBS Act enabled both accredited and unaccredited investors to use the Web and social media to make investments in entrepreneurs and small and medium enterprises (SMEs). This was done in the hopes of creating a market that could provide funding to smaller entrepreneurial businesses, from an increased number of smaller debt and equity investments by less wealthy individuals.
            According to a Berkeley Fung Institute study the size of the Crowd Funding market is estimated at the size of minimum 160Mn dollar in next couple of years.
            This presentation is our initial results in process of investigation to understand the signals of success in pledge based crowd funding models. We are looking into the projects hosted by indiegogo.com in the entrepreneurial category. 
            We deployed machine learning techniques on the dataset we are focussing on and identified important factors and somewhat succesfully can categorize the rate of success of the projects. We found the factors we found are consistent with previous and relevant researches done by various other researchers looking into the domain empirically. While other researchers have not yet explored the potential of computation, statistical machine learning to a great extent in this field, we are hoping to have an edge.
            We are going to extend our analysis with more datasets, temporal analysis and inclusion of techniques such as NLP and Game-Theory based modeling!
    		</p>
    	</div>
    </section>
    <section id="summary">
    	<div class ="left">
            <div class="nav">
                <a href="{{ url_for('analyse') }}">Analysis</a><br>
                <a href="{{ url_for('predict') }}">Prediction</a>
            </div>
    	</div>
    	<div class ="right">
            <h2 >Data Summary</h2>
         <table width="40%" style="margin:left:30px;float:left">
            <tr>
              <td><span class="medium number">1841</span>campaigns</td>
            </tr>
            <tr>
              <td><span class="medium number">75</span>countries</td>
            </tr>
            <tr>
              <td><span class="medium number amount">$19,804,732</span>raised</td>
            </tr>
            <tr>
               <td><span class="medium number ">14,606</span>perks provided</td>
            </tr>
        </table>
        <table width="40%" style="margin:left:40px;">
        <tr>
            <td>
                <img src="static/img/map.png"/>
            </td>
        </tr>
        </table>
    	</div>
    </section>

    <section id="stats" style="display:none">
    	<h2>
		    <label>Param1 </label> <input type="text" name="txt_param1" required>
		    <label>Param2 </label> <input type="text" name="txt_param2" required>
		    <label>Param3 </label> <input type="text" name="txt_param3" required>
		    <label>Param4 </label> <input type="text" name="txt_param4" required>
		    <label>Param5 </label> <input type="text" name="txt_param5" required>
		</h2>


    </section>


{% endblock %}